<div class="container">
    <h2>Staff Section</h2>
    <ul class="list-group">
      <li class="list-group-item"><a href="/staff/diplomas">Diplomas list</a></li>
      <li class="list-group-item"><a href="/staff/create_diploma">Create a new diploma</a></li>
    </ul>
  </div>
  