<div class="container">
    <h2>Admin Section</h2>
    <ul class="list-group">
        <li class="list-group-item"><a href="/admin/add_new_authorized_peer">Add new authorized peer</a></li>
        <li class="list-group-item"><a href="/admin/add_new_peer">Add new unauthorized peer</a></li>
        <li class="list-group-item"><a href="/admin/get_peers_list">Peers list</a></li>
    </ul>
</div>